<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome to Hacksyn!</h1>
</div>

<%= button_to 'Connect Twitter', '/auth/twitter', method: :post, class: 'btn btn-primary' %>

<%= button_to 'Connect Zoho', '/auth/zoho', method: :post, class: 'btn btn-secondary' %>